.send_form_link {


}

.send_form_link a { font-size: 14px; }

.send_form_window {

        display: none;
        position: absolute;
        
}


.send_form_window .send_form_title {
    background:#E51837 none repeat scroll 0 0;
    color:#FFFFFF;
    font-weight:bold;
    height:14px;
    padding:11px 25px;
    width:475px;
}

.send_form_window .send_form_title .send_from_title_t {
    float: left;
}

.send_form_window .send_form_title  .send_form_close_btn {

    float: right;

}

.send_form_window .send_form_body {
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #E1E1E1;
    padding:26px 24px 27px;
    width:475px;
}

.send_form_window .send_form_body label  {
    font-size:12px;
    line-height:14px;
    color: #808080;
}

.send_form_window .send_form_body p.desc {
    color:#000000;
    margin-top:10px;
    font-family:HelveticaNeue Roman,Helvetica,Arial,Verdana,sans-serif;
    font-size:12px;
}

.send_form_window .send_form_body input,  .send_form_window .send_form_body textarea {
        -moz-background-clip:border;
        -moz-background-inline-policy:continuous;
        -moz-background-origin:padding;
        background:#E6E6E6 none repeat scroll 0 0;
        margin:2px 0 0;
        padding:2px;
        width:220px;
        border:0;
}




.send_form_window .send_form_body .send_form_btn {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    color: #000000;
    float:none;
    background:transparent none repeat scroll 0 0;
    cursor:pointer;
    font-size:32px;
    text-align:left;
    border: 0;
    margin: 17px 0px 0px 0px;
}